* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#logger {
    background-color: #002171;
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
    font-family: 'Share Tech Mono', monospace;
    overflow-y: hidden;
    padding: 10px;
}

#logger .message {
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #fbfbfb;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: inherit;
    }
}