* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20vh; /* for logger */
}

.control-bar{
    position: relative;
    height: 50px;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation: slideDown .3s 1;
    animation-timing-function: ease-in-out;
}

.control-bar h1.logo{
    font-weight: bold; 
    line-height: 50px;
    padding-left: 10px;
    cursor: default;
}

.section {
    opacity: 0;
    position: relative;
    animation: fadeUp .5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.section h3{
    font-size: 30px;
    text-align: center;
    color: #222222;
    font-weight: bold;
}

.character-wrapper {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.character-box {
    height: 200px;
    width: 200px;
    margin: 40px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
}

.character-box:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#logger {
    background-color: #002171;
    width: 100%;
    height: 20vh;
    position: fixed;
    bottom: 0;
    font-family: 'Share Tech Mono', monospace;
    overflow-y: hidden;
    padding: 10px 0;
    cursor: default;
}

#logger .message {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #ffffff;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: inherit;
    }
}

@keyframes slideDown {
    from {
        bottom: 50px;
    }
    to {
        bottom: 0;
    }
}

@keyframes fadeUp {
    from {
        top: 50px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}